<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
        <%= gravatar_for msg.user %>
      </div>

      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted">
            <%= "#{msg.user.name} at #{msg.timestamp} says" %>
          </span>
          <br>
          <%= msg.body %>
        </p>
      </div>
    </div>
  </div>
</div>